{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Pour réinitialiser votre mot de passe, cliquez sur le bouton en dessous:</h2>

        <div class="btn btn-secondary"><a href={{ url("app_update_password", {id: user.id})}}>Réinitialiser mot de passe</a></div>
    </div>
{% endblock %}